body {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#apod-image {
    width: 100%;
    height:auto;
    padding: 10px;
    display: none; /* Hides image, element is not visable */
}

#apod-video {
    width: 960px;
    height: 540px;
    display: none;
}